<canvas id="renderCanvas"></canvas>

<div id="context" class="context">
    <h1>Anatomic 1</h1>
    <!--<button onclick=" prompt('edit')">Edit</button>-->
    <!--<button onclick=" prompt('replace')">Replace</button>-->
    <button (click)="editFunc()">Edit</button>
    <button (click)="replaceFunc()">Replace</button>
    <button (click)="removeAll()">Remove</button>
</div>

<div id="context2" class="context">
    <h1>No object selected</h1>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
