<table class='table' *ngIf="allNotes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Action</th>
            <th>Description</th>
            <!--<th>Vendor</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of allNotes">
            <td>...</td>
            <td>{{ note.time }}</td>
            <td>{{ note.Action }}</td>
            <td>{{ note.Anatomic }}</td>
            <!--<td>{{ note.Vendor }}</td>-->
        </tr>
    </tbody>
</table>
<button id="importVendor" class="btn btn-black" (click)="postAllNotes()">Save</button>
