
.vendorList {
    border: black 2px solid;
    background-color: rgba(0,0,0,0.8);
    height: 500%;
    width: 100%;
    text-align: center;
}

.vendorList h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.select {
    width: 90%;
}

#selectOption {
    width: 100%;
    background: rgba(0,0,0,0.2);
    border: 0px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.option {
    text-align: center;
    color: white;
    font-weight: bold;
    display: block;
    /* background-color: #35414a; */
    background-color: rgba(0,0,0,0.2);
    font-size: 20px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    padding-bottom: 2px;
    padding-top: 2px;
}

    .option img {
        height: 40px;
    }

    .option:hover {
        background-color: rgba(100,100,255,0.5);
    }
