
<div class="vendorList">
    <h1>Add Bracket</h1>
    <div class="selectDiv">
        <select id="selectOption" multiple=multiple size="10">
            <option class="option" value=".babylon"></option>
            <option class="option" value="Central_Incisor_21n.babylon">Central_Incisor_21 1P</option>
            <option class="option" value="Central_Incisor_11n.babylon">Central_Incisor_11 1P</option>
            <option class="option" value="Central_Incisor_21.babylon">Central_Incisor_21 2P</option>
            <option class="option" value="Central_Incisor_11.babylon">Central_Incisor_11 2P</option>
            <option class="option" value="Teeth_Model_Babylon.babylon">Teeth_Model_Babylon</option>
            <option class="option" value="Canine.babylon">tooth_3_AncrePoint</option>
            <option class="option" value="Tooth_2.babylon">Tooth_2</option>
            <option class="option" value="Central_Incisor_21NEW.babylon">Central_Incisor_21NEW</option>
            <option class="option" value=".babylon"></option>
            <option class="option" value="SL_Bracket_21.babylon">SL_Bracket_21</option>
            <option class="option" value="SL_Bracket_11.babylon">SL_Bracket_11</option>
            <option class="option" value="SL_Bracket_21n.babylon">SL_Bracket_21n</option>
            <option class="option" value="SL_Bracket_21TWO.babylon">SL_Bracket_21TWO</option>
            <option class="option" value="Ammaal.babylon">Brucket_2Meshes.babylon</option>
            <option class="option" value="Bracket_3.babylon">Bracket_3</option>
            <option class="option" value=".babylon"></option>
            <option class="option" value="Cube.babylon">Cube</option>

        </select>
    </div>
    <br>
    <button id="importVendor" class="btn btn-black" (click)="addVendor()">import</button>
</div>
