/* You can add global styles to this file, and also import other style files */


html,body,.columns{
    height: 100%;
}
  body:before {
    content: "";
    position: absolute;
    background: url('../../assets/backgroundaa.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(2px);
}
.btn{
    font-size: 20px;
    margin: 10px;
}


.btn-black{
    background-color: rgba(10,10,10,0.8);
    color: white;
    border:2px solid white;
}

.context{
    display: none;
    position: absolute;
    width: 150px;
    border: 2px solid white;
    background-color: rgba(10,10,10,0.8);;
}

.context h1{
    background-color: rgba(10,10,10,0.8);
    color: white;
    font-size: 22px;
    text-align: center;
}
.context button{
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-top: 1px solid white;
    width: 100%;
    font-size: 18px;
    color: white;
}

.context button:hover{
    background-color: rgba(100, 100, 255, 0.5);

}
